extends ../layouts/layout

block content
    div.container
        h1 Вход

        form(method='post' action='/auth/login')
            div.error= errMsg

            div
                label Имя пользователя:
                    input.input-block(type='text' name='username' placeholder='введите логин')
            div
                label Пароль:
                    input.input-block(type='password' name='password' placeholder='введите пароль')

            input.input-block(type='submit' value='Войти')