extends layout

block content
    h1 Вход

    form(method='post' action='/auth/login')
        div(class='error')= errMsg

        label Имя пользователя:
            input(class='input-block' type='text' name='username' placeholder='введите логин')

        label Пароль:
            input(class='input-block' type='password' name='password' placeholder='введите пароль')

        input(class='input-block' type='submit' value='Войти')

        a(href='/auth/register') Регистрация