extends layouts/layout

block content
    div.container
        h1
            | Добавление элемента в список
            br
            | с помощью js

        div.error= errMsg

        form(method='post' action='/notes')
            label Введите текст элемента:
                input(class="input-block" type='text' name='text')
            input(class="input-block" type='submit' value='Добавить')

        div
            h2 Сортировка:
            form(id='sort-form' method='get' action='/notes')

        div
            h2 Список элементов:
            ul(id='list-item')
                each row in rows
                    li(id='item' + row.id)
                        span(class='index')
                            = row.id + ')'
                        span(name='all')
                            span(name='text')
                                = row.text
                            input(type='button' name='btnEdit' value='ред.')
                            input(type='button' name='btnDel' value='X')

        script.
            sort_type = '#{sortType}';

        script(src='/javascripts/script.js')
