extends layouts/layout

block content
    div.container
        h1 Профиль

        div.error= error

        section
            div.row
                form(method='post' action='/profile/upload' encType="multipart/form-data").col-lg-3
                    div.row
                        img(src=image alt="Изображение профиля")
                    div.row
                        input(name='avatar' type='file' )
                    div.row
                        input(type='submit', value='Загрузить')
                div.col-lg-9
                    div.row
                        span Имя пользователя:
                        span= username
                    div.row
                        span Количество записей:
                        span= itemsCount
