extends layout

block content
    h1
        | Регистрация

    form(method='post' action='/auth/register')
        div(class='error')= errMsg

        label Имя пользователя:
            input(class='input-block' type='text' name='username' placeholder='введите логин')

        label Пароль:
            input(class='input-block' type='password' name='password' placeholder='введите пароль')

        input(class='input-block' type='submit' value='Зарегистрироваться')

        a(href='/auth/login') Войти